.uitkTableCellMeasure {
  position: fixed;
  top: -1000px;
  left: 0;
}

.uitkTableCellMeasure table {
}

.uitkTableCellMeasure tr {
}

.uitkTableCellMeasure th {
  box-sizing: border-box;
  height: var(--uitkTable-rowHeight);
  overflow: hidden;

  margin: 0;
  padding: var(--uitkTable-cell-padding);

  border-style: solid;
  border-color: #d9dde3;
  border-width: 0 0 1px 0;

  font-size: var(--uitkTable-fontSize);
  font-weight: normal;

  background-color: white;
  white-space: nowrap;
  position: relative;
}
