.uitkTableTableRow {
  border-style: solid;
  border-color: var(--uitkTable-rowDivider-color);
  border-width: 1px 0 0 0;
}

.uitkTableTableRow-selected + .uitkTableTableRow {
  border-color: var(--uitkTable-row-borderColor-selected);
}

.uitkTableTableRow-divided {
  border-color: var(--uitkTable-rowDivider-color-divided);
}

.uitkTableTableRow-zebra {
  background: var(--uitkTable-zebraColor);
}

.uitkTableTableRow-hover {
  background: var(--uitkTable-row-backgroundColor-hover);
}

.uitkTableTableRow-selected {
  background: var(--uitkTable-row-backgroundColor-selected);
  border-color: var(--uitkTable-row-borderColor-selected);
}

.uitkTableTableRow-zebra.uitkTableTableRow-selected {
  background: linear-gradient(
    var(--uitkTable-row-backgroundColor-selected),
    var(--uitkTable-row-backgroundColor-selected)),
  linear-gradient(
    var(--uitkTable-zebraColor),
    var(--uitkTable-zebraColor)
  );
}

.uitkTableTableRow-zebra.uitkTableTableRow-hover {
  background: linear-gradient(
    var(--uitkTable-row-backgroundColor-hover), var(--uitkTable-row-backgroundColor-hover)),
  linear-gradient(var(--uitkTable-zebraColor), var(--uitkTable-zebraColor));
}

.uitkTableTableRow-zebra.uitkTableTableRow-selected.uitkTableTableRow-hover {
  background: linear-gradient(
    var(--uitkTable-row-backgroundColor-hover), var(--uitkTable-row-backgroundColor-hover)),
  linear-gradient(
    var(--uitkTable-row-backgroundColor-selected), var(--uitkTable-row-backgroundColor-selected)),
  linear-gradient(
    var(--uitkTable-zebraColor), var(--uitkTable-zebraColor));
}

.uitkTableTableRow-selected.uitkTableTableRow-hover {
  background: linear-gradient(
    var(--uitkTable-row-backgroundColor-hover), var(--uitkTable-row-backgroundColor-hover)),
  linear-gradient(
    var(--uitkTable-row-backgroundColor-selected), var(--uitkTable-row-backgroundColor-selected));
}
