.uitkTableTopPart {
  position: absolute;
  top: 0;
  left: 0;
  right: var(--uitkTable-scrollBar-size); /* TODO scrollbar width and only when displayed */
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;

  clip-path: inset(0 var(--uitkTable-rightWidth) 0 var(--uitkTable-leftWidth));
}

.uitkTableTopPart-space {
  height: calc(1px + var(--uitkTable-topHeight));
  width: var(--uitkTable-totalWidth);
}

.uitkTableTopPart table {
  table-layout: fixed;
  position: absolute;
  top: 0;

  width: var(--uitkTable-headerVisibleColumnWidth);
  height: var(--uitkTable-topHeight);
  left: var(--uitkTable-headerVisibleAreaLeft);
}
