.uitkGridTopPart {
  position: absolute;
  top: 0;
  left: 0;
  right: var(--uitkGrid-scrollBar-size); /* TODO scrollbar width and only when displayed */
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;

  clip-path: inset(0 0 0 var(--uitkGrid-leftWidth));
}

.uitkGridTopPart-space {
  height: calc(1px + var(--uitkGrid-topHeight));
  width: var(--uitkGrid-totalWidth);
}

.uitkGridTopPart table {
  table-layout: fixed;
  position: absolute;
  top: 0;

  width: var(--uitkGrid-headerVisibleColumnWidth);
  height: var(--uitkGrid-topHeight);
  left: var(--uitkGrid-headerVisibleAreaLeft);
}
