/* Component class applied to the root element */
.saltTabstripNext {
  --tabs-tabstrip-height: var(--saltTabs-tabstrip-height, var(--salt-size-stackable));
  --tabs-tabstrip-display: var(--saltTabs-tabstrip-display, inline-flex);
  --tabs-tabstrip-background: var(--saltTabs-tabstrip-background, transparent);

  --tabs-activationIndicator-height: var(--salt-size-border);
  --tabs-activationIndicator-background: var(--salt-container-primary-borderColor);
  --tabs-activationIndicator-thumb-height: var(--salt-editable-borderWidth-active);
  --tabs-tab-spacing: var(--salt-spacing-100);

  align-items: flex-start;
  align-self: var(--saltTabs-tabstrip-alignSelf, stretch);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  position: relative;
  background: var(--tabs-tabstrip-background);
  display: var(--tabs-tabstrip-display);
  min-width: 28px;
  width: 100%;
  height: var(--tabs-tabstrip-height);
  border-bottom: solid var(--tabs-activationIndicator-height) var(--tabs-activationIndicator-background);
}

.saltTabstripNext-overflowMenu {
  position: relative;
  align-self: stretch;
  margin-right: 2px; /* prevents the focus ring from being clipped on the right */
  display: flex;
  align-items: center;
  border-bottom: var(--tabs-activationIndicator-thumb-height) solid transparent;
}

.saltTabstripNext-overflowMenu-active {
  border-bottom-color: var(--salt-navigable-indicator-active);
}

.saltTabstripNext-overflowMenu-popup {
  background: var(--salt-container-primary-background);
  overflow-y: auto;
  z-index: calc(var(--salt-zIndex-flyover) - 1);
  margin-top: 5px;
}

.saltTabstripNext-inner {
  width: 100%;
  align-items: center;
  display: flex;
  min-width: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
}

.saltTabstripNext-centered .saltTabstripNext-inner {
  justify-content: center;
}

/* We use this to wrap each tab to create space*/
.saltTabstripNext-tabWrapper {
  padding-right: var(--tabs-tab-spacing);
}
