.uitkTableTopLeftPart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.uitkTableTopLeftPart-raised {
  box-shadow: 6px 0 4px -4px var(--uitkTable-shadow-color);
}

.uitkTableTopLeftPart table {
  table-layout: fixed;
  width: var(--uitkTable-leftWidth);
  height: var(--uitkTable-topHeight);
}
