.uitkGridBottomPart {
  --uitkGrid-scrollBar-size: 15px;
}

.uitkGridBottomPart {
  position: absolute;
  bottom: var(--uitkGrid-scrollBar-size);
  left: 0;
  right: var(--uitkGrid-scrollBar-size);
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;
}

.uitkGridBottomPart-space {
  position: relative;
  height: var(--uitkGrid-bottomHeight);
  width: var(--uitkGrid-totalWidth);
}

.uitkGridBottomPart table {
  table-layout: fixed;
  position: absolute;
  bottom: 0;
  width: var(--uitkGrid-bodyVisibleColumnWidth);
  left: var(--uitkGrid-bodyVisibleAreaLeft);
}
