.uitkGridBottomLeftPart {
  --uitkGrid-scrollBar-size: 15px;
}

.uitkGridBottomLeftPart {
  position: absolute;
  bottom: var(--uitkGrid-scrollBar-size);
  left: 0;
  z-index: 2;
}

.uitkGridBottomLeftPart table {
  border-spacing: var(--uitkGrid-borderSpacing);
  table-layout: fixed;
  width: var(--uitkGrid-leftWidth);
}
