.uitkGridMiddlePart {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: var(--uitkGrid-scrollBar-size);
  bottom: var(--uitkGrid-scrollBar-size);
  left: 0;

  /*clip-path: inset(20px 20px 20px 200px);*/
}

.uitkGridMiddlePart-space {
  position: relative;
}

.uitkGridMiddlePart table {
  border-spacing: var(--uitkGrid-borderSpacing);
  table-layout: fixed;
  position: absolute;
  top: 0;
}
