.uitkGridFakeCell {
  box-sizing: border-box;

  border-style: solid;
  border-color: var(--row-border-color);
  border-width: 1px 0 0 0;

  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  position: relative;
  font-size: var(--uitkGrid-fontSize);
  font-weight: normal;
  z-index: var(--uitkGrid-cell-zIndex);
}
