.uitkGridTableRow {
  height: var(--uitkGrid-rowHeight);
  /* Row border doesn't render properly in Chrome on Windows. Applying borders to cells */
  --row-border-color: var(--uitkGrid-rowDivider-color);
}

.uitkGridTableRow th {
  border-style: solid;
  border-color: var(--row-border-color);
  border-width: 1px 0 0 0;
}

.uitkGridTableRow-selected + .uitkGridTableRow {
  --row-border-color: var(--uitkGrid-row-borderColor-selected);
}

.uitkGridTableRow-divided {
  --row-border-color: var(--uitkGrid-rowDivider-color-divided);
}

.uitkGridTableRow-zebra {
  background: var(--uitkGrid-zebraColor);
}

.uitkGridTableRow-hover {
  background: var(--uitkGrid-row-backgroundColor-hover);
}

.uitkGridTableRow-selected {
  background: var(--uitkGrid-row-backgroundColor-selected);
  --row-border-color: var(--uitkGrid-row-borderColor-selected);
}

.uitkGridTableRow-zebra.uitkGridTableRow-selected {
  background: var(--uitkGrid-row-backgroundColor-selected);
}

.uitkGridTableRow-zebra.uitkGridTableRow-hover {
  background: var(--uitkGrid-row-backgroundColor-hover);
}

.uitkGridTableRow-zebra.uitkGridTableRow-selected.uitkGridTableRow-hover {
  background: var(--uitkGrid-row-backgroundColor-hover);
}

.uitkGridTableRow-selected.uitkGridTableRow-hover {
  background: var(--uitkGrid-row-backgroundColor-hover);
}
